/*
Colors used:
Primary Color (orange): rgba (219, 146, 0)
Secondary Color (white):#ffffff
*/
* {
  box-sizing: border-box;
}

header {
  width: 100%;
  border-bottom: 3px solid #fafafa;
  background-color: #fafafa;
  padding: 10px 0 4px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  position: fixed;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: 'noto sans jp', sans-serif;
  background-color: white;
  font-size: 18px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 1.8em;
  font-weight: 700;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  font-size: 1.4em;
  font-weight: 400;
}

h4 {
  font-size: 1.3em;
  font-weight: 400;
}

a {
  color: #ff7f50;
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #cc6540;
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  background-color: #ff7f50;
  color: white;
  font-weight: 400;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  opacity: 0.8;
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
  /* Centers text */
}

#hero {
  background-color: #fafafa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

#hero span {
  display: block;
  font-size: 0.7em
}

.center {
  text-align: center;
}

.logo {
  max-width: 120px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navtoggle li:not(:last-child) {
  display: none;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
  text-decoration: none;
}
.navtoggle.responsive li  {
  display: block;
}
.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 20px;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
}
.navtoggle.responsive li  {
  display: block;
  padding: 10px 0;
  border-top: 1px solid rgba(255,127,80,0.5);
}

.navtoggle.responsive li:last-child  {
  padding: 0 0 10px;
}
main {
  padding-top: 97px
}

.social a {
  text-decoration: none;
  margin: 0 15px;
}

.social {
  margin-top: 1em
}

.social .fab {
  font-size: 1.5em
}

.copyright {
  font-size: 0.8em
}

footer {
  text-align: center;
}

@media (min-width:641px) {
  header {
    text-align: unset;
    padding: 20px 0 13px;

    nav>ul>li {
      display: inline-block;

      .navtoggle li:not(:last-child) {
        display: inline-block;

        .navtoggle li:last-child {
          display: none;

          nav>ul {
            margin: 1em 0;
          }
        }
      }
    }
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/* ==============================
Large devices (1200px or larger)
================================= */
@media (min-width:1200px) {
  .logo {
    max-width: 120px
  }

  main {
    padding-top: 109px
  }

  .profile img {
    max-width: 400px;
  }

  [class*="col-"] {
    padding: 20px;
  }

  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
