/*
Colors used:
Primary Color (orange): rgba (219, 146, 0)
Secondary Color (white):#ffffff
*/
*{
  box-sizing: border-box;
}
header {
  width: 100%;
  border-bottom: 3px solid #fafafa;
  background-color: #fafafa;
  text-align: center;
  padding: 10px 0;
  padding-top: 10px;
    padding-right: 0px;
    padding-bottom: 10px;
    padding-left: 0px;
position: fixed;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
}

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

body {
  font-family: 'noto sans jp', sans-serif;
  background-color: white;
  font-size: 16px;
  /* Sets the font size to 16px */
  font-weight: 300;
  /* Sets the font weight to 300 */
  line-height: 1.6;
  /* Sets the line-height to 1.6 * the font-size */
  color: #4a4a4a;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2.75em;
  font-weight: 700;
}

h2 {
  font-size: 2.25em;
  font-weight: 700;
}

h3 {
  font-size: 1.75em;
  font-weight: 400;
}

h4 {
  font-size: 1.35em;
  font-weight: 400;
}

a {
  color: #ff7f50;
}

a:visited {
  /* visited link */
  color: #ff7f50;
}

a:hover,
a:focus {
  color: #cc6540;
}

a:active {
  /* selected link */
  color: #994c30;
}

.button {
  display: inline-block;
  /* since the <a> tag is inline by default, we need to change this to inline-block, but more on this in the next exercise */
  background-color: #ff7f50;
  color: #ffffff;
  /* needed to override the default link color */
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #994c30;
  /* width of the border, type, color */
  transition: 0.2s opacity;
  text-decoration: none;
  /* No underlining */
}

.button:hover {
  opacity: 0.8;
  /* Reduces the opacity of the button to 80% */
}

.button.contact {
  background-color: transparent;
  color: #ff7f50;
  text-transform: uppercase;
  border: 2px solid #ff7f50;
}

.button.contact:hover {
  background-color: #ff7f50;
  color: #ffffff;
}

/* Layout styling */
.container {
  padding: 0 15px;
}

.row {
  margin: 25px 0;
  /* 25px top and bottom, 0 left and right */
}

#hero h1 {
  text-align: center;
  /* Centers text */
}
#hero {
  background-color: #fafafa;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.center {
  text-align: center;
}

.logo {
  max-width: 80px;
}

nav>ul {
  list-style-type: none;
  padding: 0;
}

nav>ul>li {
  display: inline-block;
}

nav>ul>li>a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

@media (min-width:768px) {
  [class*="col-"] {
    float: left;
    padding: 15px;
  }

  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }
}
@media (min-width:1200px){
  [class*="col-"] {
    padding: 20px;
  }
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }

  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
}
}
